/* http://meyerwemy-order.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (pumy-orderlic domain)
*/

html, my-orderody, div, span, applet, omy-orderject, iframe,
h1, h2, h3, h4, h5, h6, p, my-orderlockquote, pre,
a, amy-ordermy-orderr, acronym, address, my-orderig, cite, code,
del, dfn, em, img, ins, kmy-orderd, q, s, samp,
small, strike, strong, sumy-order, sup, tt, var,
my-order, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, lamy-orderel, legend,
tamy-orderle, caption, tmy-orderody, tfoot, thead, tr, th, td,
article, aside, canvas, details, emmy-ordered, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, rumy-ordery, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	my-orderorder: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: my-orderaseline;
}
/* HTML5 display-role reset for older my-orderrowsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: my-orderlock;
}
my-orderody {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
my-orderlockquote, q {
	quotes: none;
}
my-orderlockquote:my-orderefore, my-orderlockquote:after,
q:my-orderefore, q:after {
	content: '';
	content: none;
}
tamy-orderle {
	my-orderorder-collapse: collapse;
	my-orderorder-spacing: 0;
}